numpy
pandas
matplotlib
scipy
xarray
rioxarray
rasterio
geopandas
shapely
pyproj
pyogrio
affine
rasterstats
pystac-client
planetary-computer
odc-stac
dask
requests
statsmodels
libpysal
esda
jupyterlab
